<h1> Lifts Tracker </h1>
<% if current_user%>
    <div>Signed in as <%= current_user.name %></div>
    <div>
    <%= image_tag current_user.image_url if current_user.image_url%>
    </div>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
    <%= link_to 'Edit profile', user_registration_path, method: :patch%>

    <% @musclegroups.each do |muscle|%>
    <li><%= muscle.name%></li>
    <% end %>
<% else %>
    <li><%= link_to 'Log in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>