<%= form_with(model: exercise_stat, local: true) do |form| %>
  <% if exercise_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_stat.errors.count, "error") %> prohibited this exercise_stat from being saved:</h2>

      <ul>
      <% exercise_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :reps %>
    <%= form.number_field :reps %>
  </div>

  <div class="field">
    <%= form.label :increase %>
    <%= form.check_box :increase %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
